/* Theme Export (SCSS) || From colorffy.com */
.bg-primary-a0 {
  background-color: #6598da;
}

.bg-primary-a10 {
  background-color: #79a3de;
}

.bg-primary-a20 {
  background-color: #8baee3;
}

.bg-primary-a30 {
  background-color: #9cb9e7;
}

.bg-primary-a40 {
  background-color: #adc4eb;
}

.bg-primary-a50 {
  background-color: #bed0ef;
}

.bg-surface-a0 {
  background-color: #121212;
}

.bg-surface-a10 {
  background-color: #282828;
}

.bg-surface-a20 {
  background-color: #3f3f3f;
}

.bg-surface-a30 {
  background-color: #575757;
}

.bg-surface-a40 {
  background-color: #717171;
}

.bg-surface-a50 {
  background-color: #8b8b8b;
}

.bg-surface-tonal-a0 {
  background-color: #1b1e23;
}

.bg-surface-tonal-a10 {
  background-color: #303338;
}

.bg-surface-tonal-a20 {
  background-color: #46494d;
}

.bg-surface-tonal-a30 {
  background-color: #5e6064;
}

.bg-surface-tonal-a40 {
  background-color: #77797c;
}

.bg-surface-tonal-a50 {
  background-color: #909295;
}

.bg-success-a0 {
  background-color: #22946e;
}

.bg-success-a10 {
  background-color: #47d5a6;
}

.bg-success-a20 {
  background-color: #9ae8ce;
}

.bg-warning-a0 {
  background-color: #a87a2a;
}

.bg-warning-a10 {
  background-color: #d7ac61;
}

.bg-warning-a20 {
  background-color: #ecd7b2;
}

.bg-danger-a0 {
  background-color: #9c2121;
}

.bg-danger-a10 {
  background-color: #d94a4a;
}

.bg-danger-a20 {
  background-color: #eb9e9e;
}

.bg-info-a0 {
  background-color: #21498a;
}

.bg-info-a10 {
  background-color: #4077d1;
}

.bg-info-a20 {
  background-color: #92b2e5;
}